db.sqlite3
aileen/db.sqlite3
aileen/.ipynb_checkpoints
aileen/Hacking_aileen.ipynb
aileen/aileen/__pycache__
aileen/box/__pycache__
aileen/box/management/commands/__pycache__
aileen/box/migrations/__pycache__
aileen/aileen.log
aileen/box/tasks/__pycache__
aileen/box/utils/__pycache__
aileen/dashboard/__pycache__
aileen/data/__pycache__
aileen/data/__pycache__
aileen/data/migrations/__pycache__
aileen/db_example.sqlite3
aileen/example_data.csv
aileen/randomdata.ipynb
aileen/server/__pycache__
aileen/server/migrations/__pycache__
aileen/static/dashboard/js/year_data0.json
aileen/testing_js
aileen/times_seen_per_hour_device.ipynb
aileen_env
aileen/week_data.json
aileen/box/airo_tasks/__pycache__
aileen/box/management/commands/testing_upload.py
aileen/server/management/commands/__pycache__
aileen/calibration/__pycache__
