<div class="row">
  <div class="chart-tooltip"></div>
  <div class="col-md-6 col-lg-6">
    <span class="glyphicon glyphicon-info-sign"></span>

    <h3 class='chart-titles'>
      <img data-toggle='tool-tip'
        title='This heat map shows the total number of unique devices which were seen per hour. You can click and drag the chart to the left to see more days, if the data is available. Click on a single day (column) of the heat map to compare it to averages using the radial chart.'
        src="https://img.icons8.com/material/50/000000/info.png"
        class="infoButton"
        height='20'>
           Monthly Heat Map</h3>
           <h5 class="chart-titles">Total devices seen per hour over 31 days</h5>
    <div class='aileen-d3-container' id="heatmapContainer"></div>
  </div>
  <div class="col-md-6 col-lg-6">
    <h3 class='chart-titles'>
      <img data-toggle='tool-tip'
        data-title='This 24 hour clock shows the average number of devices seen each hour over a Selected Date Range. This data can be further refined using the Filter. Select a day from the Monthly Heat Map to compare a single day over a chosen average.'
        src="https://img.icons8.com/material/50/000000/info.png"
        class="infoButton"
        height='20'>
        Compare Selected Day with Average</h3>
    <div class='aileen-d3-container' id="radialBarContainer"></div>
  </div>
</div>
