{% load humanize %}

<div class="row" style="margin-bottom: 40px; font-size: 1rem; padding-top: 5px;">
  <div class="col-md-4 col-lg-3">
    <div class="card aileen-card">
      <h5 class="card-header text-center aileen-widget-header">The Busiest Hour on Average</h5>
      <div class="card-body aileen-body">
        <div class="row">
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="{{ kpis.busyness.by_hour.hour_of_day }}:00 is the average busiest hour since all of the days Aileen has been running. On average - during this hour - {{kpis.busyness.by_hour.num_devices | floatformat:"0"}} devices have been seen.">
              {{ kpis.busyness.by_hour.hour_of_day }}:00
            </button>
          </div>
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="{{kpis.busyness.by_hour.percentage_margin_to_second | floatformat:"0"}}% more devices were seen during this hour than the next busiest hour.">
                    {{kpis.busyness.by_hour.percentage_margin_to_second | floatformat:"0"}}% more
            </button>
          </div>
        </div>
      </div>
    </div>
<!-- the average busiest weekday -->
  </div>
  <div class="col-md-4 col-lg-3">
    <div class="card aileen-card">
      <h5 class="card-header text-center aileen-widget-header">The Average Busiest Day of the Week</h5>
      <div class="card-body aileen-body">
        <div class="row">
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="Since Aileen has been running {{ kpis.busyness.by_day.weekday }} is - on average - the busiest weekday seening - on average - {{ kpis.busyness.by_day.num_devices | intcomma }} devices.">
                    {{ kpis.busyness.by_day.weekday}}
            </button>
          </div>
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="{{kpis.busyness.by_day.percentage_margin_to_second | floatformat:"0"}}% more devices were seen on {{ kpis.busyness.by_day.weekday}} than the next busiest weekday.">
                    {{kpis.busyness.by_day.percentage_margin_to_second | floatformat:"0"}}% more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Number of devices seen before -->
  <div class="col-md-4 col-lg-3">
    <div class="card aileen-card">
      <h5 class="card-header text-center aileen-widget-header">Number of Devices Seen Before</h5>
      <div class="card-body aileen-body">
        <div class="row">
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="Percent of devices which were seen at a given hour once during the preceeding hour as well, averaging over all hours." >
              Hourly {{ kpis.stasis.by_hour | floatformat:"0" }}%
            </button>
          </div>
          <div class="col-md-6 aileen-button text-center">
            <button class="btn btn-block btn-outline-primary my-2 my-sm-0 aileen-button"
                    data-toggle="tooltip"
                    title="Percent of devices which were seen at a given day and the preceeding day as well. This percentage is calculated for each day and the average of these percentages is given here.">
              Daily {{ kpis.stasis.by_day | floatformat:"0" }}%
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
