{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" target="_blank" href='https://www.aileenproject.org'><img src="{% static "aileen/images/aileen_logo.png" %}" width="135" height="40" class="d-inline-block align-top" alt="img not found"></a>
      </li>
    </ul>
  </div>
</nav>


<!-- kpis -->
{% include "data/_kpis.html" %}

<!-- charts -->
{% include "data/_charts.html" %}

<script type="text/javascript">
  const aileen_data_url = `{% url "data:aggregations"  %}`;
</script>
<script src="{% static 'data/js/heatmapchart.js' %}"></script>
<script src="{% static 'data/js/radialbarchart.js' %}"></script>
<script src="{% static 'box/js/d3-main.js' %}"></script>


{% endblock %}
